body{
    background-color: #2e5266;
}

#tit-1{
    color: #e2c044;
    font-family: 'Exo', sans-serif;
    padding: 15px;
}
#btn-all {
    background-color: #6E8898;
    border-color: #e2c044;
}
/* style.css */

.card {
    transition: transform 0.3s; /* Add a smooth transition to the transform property */
  }
  
  .card:hover {
    transform: scale(1.05); /* Scale the card on hover */
  }
  
  /* style.css */

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #tit-1 {
    animation: fadeIn 1s ease-out; /* Apply the animation to the h1 element */
  }
  footer{
    color: white;
  }
  #li-hr {
    color: white;
  }
  #tit-3 {
    color: white;
  }